.container{
    text-align: center;
    margin-left: 20%;
    margin-right:20%;
    width:60%
}
.taskText{
    display: inline-block;
    width: 50%;
    padding: 3px;
    margin-bottom: 14px;
}
.ADD{
    display: inline-block;
    margin-top: 8px;
}
.todoTasks{
    color: rgb(1, 1, 97);
    background-color:#c9ebff;
    border-radius: 6px;
}
.todoTasks:hover{
    background-color:#d1eeff;
}

.doneTasks{
    color: black;
    background-color:#ecffde;
    border-radius: 6px;
}
.doneTasks:hover{
    background-color:#f3ffea;
}
.containerTitle{
    margin:7px;
    padding: 7px;
}
.title{
    color: #c9ebff;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    height: 50px;
    background-color: rgb(117, 190, 250);
}